@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --bgcolor: #EEF1CB;
    --bgshadow: #a2a48b;
    --positive: #21AC2F;
}

* {
    font-family: Poppins, Arial;
}

body {
    background-color: var(--bgcolor);
}

main {
    position: absolute;
    height: 100%;
    width: 100%;

    top: 0; left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}